# Directories to ignore
__pycache__/
collect/data/hr_boundaries/
wrangle/data/shapefiles/
update/__pycache__/
viz/CovidTimeline/rsconnect/
viz/CovidTimeline/input/
viz/CovidTimeline/output/gtrends/
*/.ipynb_checkpoints

# Files to ignore
viz/CovidTimeline/scratch.R
viz/CovidTimeline/google_trends.R
viz/CovidTimeline/CovidTimeline.Rproj
viz/CovidTimeline/app.R
.DS_Store

wrangle/interventions/CIHIUpdate.py
wrangle/CIHIUpdate.ipynb